<%- include("partials/header") -%>
<body class="bg-black text-white">
<%- include("partials/nav") -%>
<main>
  <h1 class="display-1 text-center gradient-text">so you wanna know me more</h1>
  <p>I am a CS major who loves simplicity in code and design, which is why I also like doing graphic designing. I am also a minor in economics.</p>
</main>
</body>
<%- include("partials/footer") -%>
